let about () =
  <p class="w-6/12 flex items-center text-base font-normal text-gray-600 dark:text-gray-400">"Hello my name is Koonwen and I like to build stuff... Instead of Covid, I've caught the functional programming bug and now spend a lot of time holed up writing OCaml. On the top of my list of things that I find greater than sliced bread: we have Operating Systems, Compilers and Parallel programming."</p>

let render () =
  <img class="h-96 rounded-lg shadow-xl dark:shadow-gray-800" src="assets/profile.jpg" alt="profile">