body {
    /* background-color: snow; */
    font-family: 'Raleway', sans-serif;
    font-size: large;
}

.navbar {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid grey;
}

a:visited {
  color: #0645AD
}

.navtext, .navtext:visited {
    padding: 10px 20px 10px 20px;
    transition: background-color .5s;
    border-radius: 20px;
}

.navtext-selected, 
.navtext-selected:visited,
.navtext-selected:hover {
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  color: white;
  background: grey;
  text-decoration: none;
}

.navtext:link {
    text-decoration: none;

}

.navtext:hover {
    background-color: grey;
    color: white;
}

header {
    font-size:xx-large;
    padding: 20px;
}

.container {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    overflow: auto;
    /* border: 5px solid black; */
}

.cover-photo {
    width: 300px;
    height: auto;
    float: right;
    margin: 0 0 0 20px
}

.about-para {
  text-align: left;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 100%;
  }
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
form li + li {
    margin-top: 1em;
  }
  
label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
    padding-right: 5px;
  }
  
input,
textarea {
  /* To make sure that all text fields have the same font settings
      By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
      between the labels and their text fields */
  margin-left: .5em;
}

.cv {
  height: 100vh;
  width: 100%
}

footer {
  border-top: 1px solid grey;
  margin-top: 10px;
  font-size: small;
  padding: 10px;
}

table {
  padding: 10px;
  margin: 0px auto;
  width: max-content;
  font-size: small;
  /* border: 5px solid black */
}

.th-name {
  text-align: end;
  font-weight: inherit;
}

.th-link {
  text-align: start;
  font-weight: inherit;
}

/* ProjectsPage */
.proj-box {
  padding: 20px;
}

.proj-header {
  font-size: 30px;
  font-weight: bold;
}